.copyright{
    background-color: rgba(0,0,0,.2);
}

footer{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    color: #fffffffa;
}

.footer-details{

    color: #fffffffa;
    background-color: #1c2331!important;

}